.button {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  border: 1px solid var(--color-border);
  background-color: transparent;
  color: var(--color-numbers);
}

.button:hover {
  cursor: pointer;
}